# Object files
*.o
*.ko
*.obj
*.elf
*.bin

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

.metadata
.project
.cproject
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# Project-specific
fw.img
source/elfldr_patch.h
